/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #ff6347; /* Coral */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navegación */
nav {
    background-color: #ffa07a; /* LightSalmon */
    padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para los botones */
.btn {
    display: inline-block;
    background-color: #ff6347; /* Coral */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #ff4500; /* OrangeRed */
}

/* Formulario */
form {
    margin-top: 20px;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Tabla */
/* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
} */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}




/* Pie de página */
footer {
    background-color: #ff6347; /* Coral */
    color: #fff;
    padding: 20px;
    text-align: center;
}
